*,
html,
body {
    margin: 0;
    padding: 0;
}


body {
    background: #fff;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #141519;
}

canvas {
    position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-transform: uppercase;
}

.h2-custom {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 400%;
    color: #212121;
}

.h1-sm {
    font-size: 100%;
    font-weight: 500;
    transform: rotate(-90deg);
    position: absolute;
    top: 80px;
    left: -50px;
}

.sm-header {
    font-size: 120%;
    letter-spacing: 2px;
}

.gap {
    word-spacing: 20px;
    letter-spacing: 10px;
}

/*Overwrites*/

.navbar {
    margin-bottom: 0;
}

.navbar {
    height: 125px;
}

.navbar li a {
    line-height: 70px;
    
}

.navbar-default {
    background: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    margin-top: 20px;
    color: #3f3729;;
    font-weight: 400;
    font-size: 120%;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
    color: #dda944;
}

.navbar-brand {
    text-transform: none;
    margin: 0px;
    min-width: 224px;
    min-height:  105px;
    text-indent: -9999px;
    background: url(../img/logo-black1.png) no-repeat;
}
.navbar-brand.navbar-brand-scroll {
    background: url(../img/logo-black.png) no-repeat;
}

.badge {
    float: right;
}

.button {
  border-radius: 0px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\2192';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  font-size: 60px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Colors*/

.color-white {
    color: #fff;
}

.c-dark {
    color: #141519;
}

.c-green {
    color: #25a65a;
}

/*paddings*/
.p-t {
    padding-top: 40px;
}

.p-t-sm {
    padding-top: 20px;
}

.p-b-sm {
    padding-top: 20px;
}

.p-r-sm {
    padding-right: 20px;
}

.p-b {
    padding-bottom: 40px;
}

.p {
    padding: 40px;
}

.p-sm {
    padding: 20px;
}

/*margins*/
.m-t {
    margin-top: 40px;
}

.m-l {
    margin-left: 40px;
}

.m-r {
    margin-right: 40px;
}

.m-t-sm {
    margin-top: 20px;
}

.m-b-sm {
    margin-top: 20px;
}

.m-b {
    margin-bottom: 40px;
}

.m {
    margin: 40px;
}

.m-sm {
    margin: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.upercase {
    text-transform: uppercase;
}

/*Backgrounds*/
.bg-white {
    background: #fff;
}

.u-list {
    list-style: none;
}

.list {
    padding-bottom: 5px;
}

.text-large {
    font-size: 200%;
}

.text-larger {
    font-size: 300%;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 400%;
}

/*main css*/
.flexbox {
	display:flex;
	justify-content:center;
	align-items: justify;
	flex-flow: column;
    
/*    background-image: url('../img/bg.jpeg');*/
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg {
    /* The image used */
    background-image: url("img_girl.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*main content*/

.card-img img {
    width: 100%;
}

.people {
    position: relative;
}

.people img {
    transition: all 0.5s;
}

.people .sp-caption {
    position: absolute;
    top: 240px;
    left: -30px;
    background: #141519;
    color: #fff;
    opacity: .9;
}

.sub-cap {
    display: none;
}

.people .sp-caption {
   
}

.people img:hover {
    
}