{% extends "layout.html" %}
       {% block content %}
        <canvas></canvas>
        <div class="flexbox">
          <div class="container">
              <div class="row">
               <div class="col-md-8">
                   <div class="flex-content p-t c-dark m-l">
                        <h1 class="h1-sm p-t p-b-sm c-green wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">What we do</h1>
                        <h2 class="h2-custom wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">Bridging the <br><span class="c-green">Africa employment ecosystem</span> gaps.</h2>
                        <h3 class="uppercase m-t m-b gap wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">Connect. Learn. Grow</h3>
                        <a href="#" class="button m-t c-dark"><span>Read more </span></a>
                    </div>
               </div>
           </div>
          </div>
        </div>
    </header>
    
    <section class="about m-t m-b">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 bg-white m-t m-b text-large wow bounceInUp">
                    <strong>Our mission</strong> is to bridge the African ecosytem gaps starting with connecting like minded youth with investors, mentors, and provide them a platform for personalised learning and sharing of their capabilities.
                </div>
                <div class="col-md-6 col-sm-12 hidden-xs bg-white m-t m-b text-large wow bounceInUp">
                    <img class="img-responsive" src="static/img/dots3.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="number">01</div>
                        <h4 class="sm-head">Connect</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consectetur voluptate officiis a explicabo, aut ut delectus inventore modi. Cumque quaerat nulla explicabo odio aliquam aut ipsum repellendus quibusdam id.</p>
                        <a href="#" class="button m-t c-green"><span>Read more </span></a>
                    </div>
                    <div class="col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="number">02</div>
                        <h4 class="sm-head">Learn</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consectetur voluptate officiis a explicabo, aut ut delectus inventore modi. Cumque quaerat nulla explicabo odio aliquam aut ipsum repellendus quibusdam id.</p>
                        <a href="#" class="button m-t c-green"><span>Read more </span></a>
                    </div>
                    <div class="col-md-4 wow slideInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="number">03</div>
                        <h4 class="sm-head">Grow</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores consectetur voluptate officiis a explicabo, aut ut delectus inventore modi. Cumque quaerat nulla explicabo odio aliquam aut ipsum repellendus quibusdam id.</p>
                        <a href="#" class="button m-t c-green"><span>Read more </span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        
    <section class="featured m-t m-b">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-x-12 bg-white m-t m-b text-larger pull-right capitalize">
                    Our featured <strong>talents.</strong>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                       <div class="people">
                           <div class="image">
                               <img src="static/img/people/speakers.jpg" alt="">
                           </div>
                           <div class="sp-caption p-sm c-white">
                               <h4 class="sm-head">Paul Mandele</h4>
                                <div class="sub-cap">
                                    <h5>Investor</h5>
                                    <p>Co-founder of Ajirika VP</p></div>
                           </div>
                       </div>
                    </div>
                    <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                      <div class="people">
                          <div class="image">
                               <img src="static/img/people/speakers_4.jpg" alt="">
                           </div>
                           <div class="sp-caption p-sm c-white">
                               <h4 class="sm-head">Emmanuel Sengighe</h4>
                                <div class="sub-cap">
                                    <h5>Startup</h5>
                                    <p>Co-founder of Inspire 100</p>
                                </div>
                           </div>
                      </div>
                    </div>
                    <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".2s">
                       <div class="people">
                           <div class="image">
                               <img src="static/img/people/speakers_8.jpg" alt="">
                           </div>
                           <div class="sp-caption p-sm c-white">
                               <h4 class="sm-head">Antoni Mtavangu</h4>
                               <div class="sub-cap">
                                   <h5>Entrepreneur</h5>
                                   <p>Managing Director of Twiga Labs</p>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}